// Calendar
.cal {
  background-color: #bcbcf2;
  color: #0f0f0f;
  font-family: FiraCode Nerd Font;
  font-size: 18px;
  font-weight: normal;
  border: none;
}

calendar:selected {
  color: #bcbcf2;
  background-color: #0f0f0f;
}

calendar.header {
  background-color: #0f0f0f;
  color: #bcbcf2;
  font-weight: bold;
}

calendar.button {
  background-color: #0f0f0f;
  color: #bcbcf2;
}

calendar.highlight {
  color: #0f0f0f;
  font-weight: bold;
}

calendar:indeterminate {
  color: #4C566A;
}

