/* Color Variables */
@define-color background #0f0f0f;
@define-color module #bcbcf2;
@define-color hover #faf0e6;
@define-color accent #e6e6fa;
@define-color highlight #fcb167;
@define-color battery_critical #fc464d;
@define-color frame #4C566A;

/**************************************************************
 * Global Defaults
 **************************************************************/

* {
    font-family: "FiraCode Nerd Font";
    font-size: 16px;
    background: transparent;
}

/**************************************************************
 * Waybar Window
 **************************************************************/

window#waybar {
    background: @background;
    border-radius: 0px;
    padding: 0px;
    border: none;
}

/**************************************************************
 * Shared Module Styles
 **************************************************************/

#battery,
#network,
#clock,
#bluetooth,
#custom-pacman,
#pulseaudio,
#clock
{
    background: @module;
    color: @background;
    padding: 4px 8px;
    margin: 0 3px;
    border: none;
    transition-duration: 120ms;
}

#custom-pacman {
  margin: 0 3px 0 0;
}


/**************************************************************
 * Special Cases Overrides
 **************************************************************/


/**************************************************************
 * Hover Effects
 **************************************************************/

#clock:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#bluetooth:hover,
#custom-pacman:hover {
    background-color: @hover;
    transition-duration: 120ms;
}

/**************************************************************
 * Workspaces
 **************************************************************/

/**************************************************************
 * Battery Levels
 **************************************************************/

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: @battery_critical;
    color: @background;
}

